/* Principal Variables */
:root {
    --white: #FBFFFE;
    --black: #4f494b;
    --grey: #C0C0C0;
    --primary: #FFE359;
    --secondary: #453DF5;
    --tittleSize: 4.8rem;
}

/* Global */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
}


header {
    padding: 1rem;
    height: 15vh;
    background-color: var(--white);
}

main {
    flex-grow: 1;
}

footer {
    margin-top: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

p {
    color: var(--black)
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 10rem;
}

/* Header */
.header-shadow {
    -webkit-box-shadow: 0px 6px 5px 0px rgba(192, 192, 192, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(192, 192, 192, 0.75);
    box-shadow: 0px 6px 5px 0px rgba(192, 192, 192, 0.75);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-logo {
    margin-right: 10px;
}

.navbar .navbar-menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar .navbar-menu .navbar-item {
    margin-right: 15px;
}

.navbar .navbar-menu .navbar-item a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-size: 1.8rem;
    transition: color 0.3s;
}

.navbar .navbar-menu .navbar-item a:hover {
    color: var(--primary);
    transform: perspective(800px) scale(1.1);
}


/* Tittle */
.tittle {
    text-align: center;
    font-family: 'Ovo', serif;
    font-size: var(--tittleSize);
    color: var(--black);
}

.subtittle {
    text-align: center;
    font-family: 'Ovo', serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--black);
}

/* Footer */

.copyrights {
    text-align: center;
}

.copyrights p {
    margin: 0;
    color: var(--black);
}

.footer-background-color {
    background-color: var(--white);
}

.footer-shadow {
    -webkit-box-shadow: 0px -7px 5px 0px rgba(192, 192, 192, 0.75);
    -moz-box-shadow: 0px -7px 5px 0px rgba(192, 192, 192, 0.75);
    box-shadow: 0px -7px 5px 0px rgba(192, 192, 192, 0.75);
}

/* Home */

.bg-color {
    background: linear-gradient(to bottom, #FFE359, #FBFFFE);
}

.carousel-inner {
    padding: 1em;
}

.carousel-inner .card {
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-inner .card-text {
    margin: 2rem 0;
}

.text-limit {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Número de líneas límite */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: var(--secondary);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .img-wrapper img {
    max-height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
}

.presentation {
    text-align: center;
}

.presentation p {
    text-align: justify;
}

.presentation ul li {
    font-weight: bold;
    list-style-type: none;
}

.presentation h3 strong i {
    font-weight: bold;
}

.presentation h4 strong {
    font-weight: bold;
}

.presentation h2 u {
    text-decoration: underline;
}

.msg-title {
    color: var(--white);
}

.msg-text {
    color: var(--white);
    text-align: center;
}

/* News */
.p-style {
    text-align: justify;
    line-height: 1.6;
    margin-top: 30px;
    font-size: 18px;
  }
  
  
/* Admin Panel */
.container {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.card-img-top__modify,
.card-img-top__remove {
    width: 16.1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.card-title {
    margin-top: 1.5rem;
}

.btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 2rem;
    background-color: #0F08A8;

}

/* Cards */
.text-bg-warning {
    background-color: var(--primary) !important;
}


/* Create News */

.card__form {
    background-color: var(--grey);
}

.container-sm {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.subtittle__label {
    font-family: 'Quattrocento Sans', sans-serif;
}

/* Modify News */
table a {
    perspective: 1000px;
}

table td a {
    position: relative;
    transition: transform 0.3s;
    border-radius: 10px;
    padding: 3px;
}

table td a:hover {
    transform: rotateY(10deg) scale(1.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

table td a::before {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    transform: rotateY(0deg);
    transition: transform 0.3s;
}

table td a:hover::before {
    transform: rotateY(180deg);
}

.rich-text-editor {
    border: 1px solid #ccc;
    padding: 5px;
}

/* Remove News */
table button {
    perspective: 1000px;
}

table td button {
    position: relative;
    transition: transform 0.3s;
    border-radius: 10px;
    border: none;
}

table td button:hover {
    transform: rotateY(10deg) scale(1.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

table td button:hover .subtittle {
    color: red;
}

table td button::before {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    transform: rotateY(0deg);
    transition: transform 0.3s;
}

table td button:hover::before {
    transform: rotateY(180deg);
}

/* Error */